*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
div{
    box-sizing: border-box;
}
body{
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color:transparent;
}

/* search-index */
.search-index{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%); /*  兼容性 */
    transform: translateX(-50%);
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    display: flex;
    background: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 99;
}
.search-index .search{
    position: relative;
    height: 26px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 12px;
    color: #666;
    line-height: 24px;
    margin: 7px 10px;
    border-radius: 5px;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before{
    content: "";
    width: 15px;
    height: 15px;
    background: url(../images/search01.png) -59px -279px no-repeat;
    background-size: 104px auto;
    position: absolute;
    top: 5px;
    left: 5px;
}
.search-index .user{
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/search01.png) -59px -194px no-repeat;
    background-size: 104px auto;
    margin: 4px auto -1px;
}


/* header */
.header{
    width: 100%;
    height: 322px;
    background: pink;
    margin-top: 4px;
    border-radius: 0 0 18% 18%;
    overflow: hidden;
}
.header img{
    width: 100%;

}

/* nav */
.nav{
    display: flex;
    height: 64px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    position: relative;
    top: -55px;
    left: 0;
    z-index: 9;
}
.nav li{
    flex: 1;
}
.nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav li .nav_li_img{
    width: 40px;
    height: 40px;
    background:  url(../images/nav-bg.png) 0 0 no-repeat;
    margin-top: 4px;
    margin-bottom: -4px;
    background-size: 40px auto;
}

/* content */
.content{
    border-radius: 8px;
    margin: -42px 10px 0;
    overflow: hidden;
}
.content .content_common{
    display: flex;
    height: 65px;
    text-align: center;
}
.content .content_common a{
    line-height: 65px;
    color: #fff;
}

.content .content_common:nth-child(2){
    margin: 1px 0;
    background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.content .content_common:nth-child(3){
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
.content .content_common:nth-child(1) div:nth-child(1){
    flex: 2;
    border-right: 1px solid #f2f2f2;
    background: -webkit-linear-gradient(left,#fa5a56,#fb7273);
    display: flex;
}
.content .content_common:nth-child(1) div:nth-child(1) a{
    flex: 1;
    background: url(../images/content-01.png) bottom right no-repeat;
    background-size: 72px auto;
    margin-left: -100px;
}
.content .content_common:nth-child(1) div:nth-child(2){
    flex: 1.5;
    border-right: 1px solid #f2f2f2;
    background: -webkit-linear-gradient(left,#fb7273,#fb8550);
    display: flex;
}
.content .content_common:nth-child(1) div:nth-child(2) a{
    flex: 1;
    background: url(../images/content-02.png) bottom left no-repeat;
    background-size: 37px auto;
}
.content .content_common:nth-child(1) div:nth-child(3){
    flex: 3;
    display: flex;
    background: -webkit-linear-gradient(left,#ffbd4a,#ffd252);
}
.content .content_common:nth-child(1) div:nth-child(3) a{
    flex: 1;
    color: #a05416;
    background: url(../images/content-03.png) bottom right no-repeat;
    background-size: 242px auto;
}
.content div:nth-child(n+1) .common_items{
    flex: 1.5;
    display: flex;
}
.content div:nth-child(n+1) .common_items a{
    flex: 1;
}
.content .content_common:nth-child(n+1) div:nth-child(1){
    flex: 2;
    display: flex;
}
.content .content_common:nth-child(2) div:nth-child(1) a{
    flex: 1;
    background: url(../images/content-04.png) bottom right no-repeat;
    background-size: 78px auto;
    margin-left: -100px;
}
.content .content_common:nth-child(2) div:nth-child(2) a{
    background: url(../images/content-05.png) bottom left no-repeat;
    background-size: 37px auto;
}
.content .content_common:nth-child(3) div:nth-child(1) a{
    flex: 1;
    background: url(../images/content-06.png) bottom right no-repeat;
    background-size: 93px auto;
    margin-left: -100px;
}
.content .content_common:nth-child(3) div:nth-child(2) a{
    background: url(../images/content-07.png) bottom left no-repeat;
    background-size: 61px auto;
}
.content .content_common:nth-child(n+1) div:nth-child(-n+3){
    border-right: 1px solid #f2f2f2;
}

/* bottom */
.bottom{
    display: flex;
    margin: 15px 10px 0;
    flex-wrap: wrap;
    font-size: 12px;
}
.bottom li{
    /* 百分比也可（相对于父级） */
    flex: 20%;
    margin-bottom: 10px;
}
.bottom li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom .bottom_img{
    width: 28px;
    height: 28px;
    margin-bottom: 3px;
    background: url(../images/bottom-01.png) 0 0 no-repeat;
    background-size: 28px auto;
}

/* btm */
.btm{
    display: flex;
    height: 60px;
    border-top: 1px solid #dbdddb;
    border-bottom: 1px solid #dbdddb;
    align-items: center;
    font-size: 12px;
    background: #fff;
}
.btm li{
    flex: 1;
}
.btm li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.btm li a [class^="btm_img"]{
    width: 20px;
    height: 20px;
    background: url(../images/search01.png) -59px -153px no-repeat;
    background-size: 104px auto;
}
.btm li a .btm_img_img02{
    background-position: -59px -173px;
}
.btm li a .btm_img_img03{
    background-position: -59px -310px;
}


/* footer */
.footer{
    display: flex;
    height: 24px;
    margin-top: 10px;
    justify-content: center;
}
.footer a:nth-child(1){
    padding-right: 8px;
    border-right: 1px solid #9999A5;
}

.footer a:nth-child(2){
    display: flex;
    margin: 0 15px 0 10px;
    padding-right: 20px;
    border-right: 1px solid #9999A5;
}
.footer a .footer_img{
    width: 11px;
    height: 11px;
    margin: 6px 8px 0 0 ;
    background: url(../images/footer.png) 0 -160px no-repeat;
    background-size: 30px auto;
}
.footer a select{
    background: none;
    appearance: none;
    -webkit-appearance: none;
}


p{
    display: flex;
    height: 28px;
    justify-content: center;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}
